.typing::after {
  content: '▌';
  color: #fff;
}
.blinker::after {
  animation: blinker 1s step-end infinite;
}
@keyframes blinker {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.chat-content .news-detail-link {
  color: #C231A1;
  cursor: pointer;
  /* text-decoration: underline; */
}